service: validation-service

frameworkVersion: '2'

plugins:
  - serverless-offline
  - serverless-plugin-typescript
  - serverless-dotenv-plugin
  - serverless-iam-roles-per-function

custom:
  defaultStage: dev
  defaultRegion: eu-central-1
  environment: ${file(.env):${self:provider.stage}, file(.env):default}

  dotenv:
    path: ./.env
    logging: false
    include:
      - STAGE
      - REGION
      - LOOKUP_API_URL
      - CONSTRAINT_API_URL
      - CONSTRAINT_ID
      - SESSION_KEY
      - DATABASE_RESOURCE_ARN
      - DATABASE_SECRET_ARN
      - DATABASE

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, self:custom.defaultStage}
  region: ${opt:region, self:custom.defaultRegion}
  environment:
    TEST: ${env:TEST, 'default_value'}

functions:
  validate:
    handler: src/functions/validator.validate
    description: Validates organization with Tech Soup API
    events:
      - http:
          path: /validate
          method: get
          cors: true
    memorySize: 512
  validate-token:
    handler: src/functions/validate-token.validateToken
    description: Validates token - checks if token was already used (checks the database)
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - rds-data:*
        Resource: "arn:aws:rds:*:*:cluster:database-1"
      - Effect: "Allow"
        Action:
          - secretsmanager:*
        Resource: "arn:aws:secretsmanager:*:*:*"
    events:
      - http:
          path: /validate-token
          method: get
          cors: true
    memorySize: 512
  validate-account:
    handler: src/functions/validate-account.validateAccount
    description: Validates account - checks what is the status of provided account (checks the database)
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - rds-data:*
        Resource: "arn:aws:rds:*:*:cluster:database-1"
      - Effect: "Allow"
        Action:
          - secretsmanager:*
        Resource: "arn:aws:secretsmanager:*:*:*"
    events:
      - http:
          path: /validate-account
          method: get
          cors: true
    memorySize: 512
  save-attempt:
    handler: src/functions/save-attempt.saveAttempt
    description: Saves validation attempt to database
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - rds-data:*
        Resource: "arn:aws:rds:*:*:cluster:database-1"
      - Effect: "Allow"
        Action:
          - secretsmanager:*
        Resource: "arn:aws:secretsmanager:*:*:*"
    events:
      - http:
          path: /attempts
          method: post
          cors: true
    memorySize: 512
