name: Deploy On Tag

on:
  create:
    tags:
      - "v[0-9]{1,3}[.][0-9]{1,3}[.][0-9]{1,3}"

jobs:
  serverless-deploy:
    if: github.event.base_ref == 'refs/heads/main'
    name: Deploy lambda
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Cache node_modules
        id: cache-node-modules
        uses: actions/cache@v1
        env:
          cache-name: node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-

      - name: Install dependencies
        run: npm ci

      - name: Install Serverless Framework
        run: npm install -g serverless

      - name: Serverless Framework AWS authentication
        run: sls config credentials --provider aws --key ${{ secrets.AWS_KEY }} --secret ${{ secrets.AWS_SECRET }}

      - name: Create env file
        run: |
          cat > .env << EOF
          ${{ secrets.ENV }}
          EOF

      - name: Install NPM Dependencies
        run: npm install

      - name: Deploy Lambda Functions
        run: sls deploy -s staging
